<div class="uk-child-width-expand@l uk-flex uk-flex-middle uk-clearfix" uk-grid>
    <div>
        <h1 class="uk-heading-medium uk-text-bold uk-margin-remove-bottom">Nunquam</h1>
        <h1 class="uk-heading-medium uk-text-bold uk-margin-remove-top">Non Paratus.</h1>
        <h2 class="uk-text-light">Never go to war, unprepared.</h2>
    </div>
    <div>
        <img data-src="/images/man-sword.png" class="hero-img uk-float-right" alt="Man with sword level up" uk-img>
    </div>

</div>
